<footer class="sticky bottom-0 font-extralight py-3 flex flex-row border-y border-gray-300 bg-stone-200 ..."></div>

  <div class="pt-1 opacity-70  text-gray-900 text-sm flex flex-col items-center w-full">
    <%= image_tag 'search2.png', class: "w-[38px]" %>
  </div>


  <div class="pt-2 text-gray-900 text-sm flex flex-col items-center w-full">
    <%= image_tag 'star2.png', class: "w-[30px]" %>
  </div>

  <div class="text-gray-900 text-sm flex flex-col items-center w-full">
    <%= link_to experiences_path do %>
      <%= image_tag 'earth.png', class: "w-[50px]" %>
    <% end %>
  </div>

  <div class="pt-4 text-gray-900 text-sm flex flex-col items-center w-full">
    <%= image_tag 'messages2.png', class: "w-[40px]" %>
  </div>

  <div class="pt-3 text-gray-900 text-sm flex flex-col items-center w-full">
    <%= image_tag 'profile2.png', class: "w-[30px]" %>
  </div>


</footer>
