<%= form_with(model: @experience, local: true, class: "max-w-xl") do |form| %>

  <% if @experience.images.attached? %>
    <div class="mb-5">
      <label class="block mb-2 text-sm font-medium text-gray-900 dark:gray-900"></label>
      <% @experience.images.each do |image| %>
        <%= image_tag image, class: "w-full rounded-lg" %>
      <% end %>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :category_ids, "Categories" %>
    <%= form.collection_select :category_ids, Category.all, :id, :name, { prompt: "Select categories..." }, { multiple: true, class: "form-select" } %>
  </div>

  <div class="mb-5">
    <%= form.label :images, class: "block mb-2 text-sm font-medium text-gray-900 dark:gray-900" %>
    <%= form.file_field :images, multiple: true, class: "w-full border border-gray-300 rounded-lg p-2.5" %>
  </div>

  <div class="mb-5">
    <%= form.label :title, class: "block mb-2 text-xl font-medium text-gray-900 dark:gray-900" %>
    <%= form.text_field :title, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
  </div>

  <!-- Description -->
  <div class="mb-5">
    <%= form.label :description, class: "block mb-2 text-sm font-medium text-gray-900 dark:gray-900" %>
    <%= form.text_area :description, class: "autoresize bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 h-auto dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500", rows: 8 %>
  </div>

  <!-- Country -->
  <div class="mb-5">
    <%= form.label :country, class: "block mb-2 text-sm font-medium text-gray-900 dark:gray-900" %>
    <%= form.text_field :country, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
  </div>

  <!-- Region -->
  <div class="mb-5">
    <%= form.label :region, class: "block mb-2 text-sm font-medium text-gray-900 dark:gray-900" %>
    <%= form.text_field :region, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
  </div>


  <!-- Hours Per Week -->
  <div class="mb-5">
    <%= form.label :hours_per_week, class: "block mb-2 text-sm font-medium text-gray-900 dark:gray-900" %>
    <%= form.number_field :hours_per_week, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
  </div>

  <!-- Minimum Stay Weeks -->
  <div class="mb-5">
    <%= form.label :minimum_stay_weeks, class: "block mb-2 text-sm font-medium text-gray-900 dark:gray-900" %>
    <%= form.number_field :minimum_stay_weeks, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
  </div>

  <!-- Sleeping Arrangements -->
  <div class="mb-5">
    <%= form.label :sleeping, class: "block mb-2 text-sm font-medium text-gray-900 dark:gray-900" %>
    <%= form.text_area :sleeping, class: "autoresize bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 h-auto dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500", rows: 8 %>
  </div>

  <!-- Catering Options -->
  <div class="mb-5">
    <%= form.label :catered, class: "block mb-2 text-sm font-medium text-gray-900 dark:gray-900" %>
    <%= form.text_area :catered, class: "autoresize bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 h-auto dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500", rows: 8 %>
  </div>

  <!-- Skills -->
  <div class="mb-5">
    <h2 class="text-lg font-medium text-gray-900 dark:gray-900">Skills</h2>
    <% Skill.all.each do |skill| %>
      <label class="flex items-center">
        <%= check_box_tag 'experience[skill_ids][]', skill.id, @experience.skills.include?(skill), class: "form-checkbox rounded" %>
        <span class="ml-2"><%= skill.name %></span>
      </label><br>
    <% end %>
  </div>




  <!-- Submit Button -->
  <div class="mt-8">
    <%= form.submit "Submit", class: "text-black bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 w-full sm:w-auto dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" %>
  </div>
<% end %>
