<div class="p-3 pb-2">
  <div class="bg-gray-100 rounded relative sm:grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 ">

    <% @experiences.each do |experience| %>
      <div class="p-2">
        <%= link_to experience_path(experience) do %>
          <div class="aspect-w-12 aspect-h-9">
            <%= image_tag url_for(experience.images.first), class: "rounded w-full h-full object-cover" %>
          </div>
        <% end %>

        <div class="p-2 pl-3 flex-1 flex flex-col">
          <h2 class="font-bold text-xl mb-2"><%= experience.title %></h2>
          <p class="flex-1 text-gray-800"><%= experience.country %>, <%= experience.region %></p>
          <p class="text-gray-800">€<%= experience.nightly_price %>/night</p>
        </div>
      </div>

    <% end %>
  </div>
</div>
