<body class="">
  <!-- Image Gallery -->
  <div class="">
    <h3 class="text-xl font-semibold text-gray-900"></h3>
    <div class="">
      <% @experience.images.each do |image| %>
        <%= image_tag(image, style: "object-fit: cover; width: 100%; height: 300px") %>
      <% end %>
    </div>
  </div>

  <div class="flex flex-col items-left p-5 min-h-screen">
    <h1 class="font-sans text-2xl font-bold"><%= @experience.title %></h1>
    <p class="text-sm italic"><%= @experience.country %>, <%= @experience.region %></p>
    <p class="mt-4 text-xl"> <%= @experience.description %></p>
    <p class="text-left">€<%= @experience.nightly_price %>/night</p>

    <!-- Additional Details -->
    <div class="mt-4">
      <h3 class="text-xl font-semibold text-gray-900">Additional Details</h3>
      <p><strong>Category:</strong> <%= @experience.category.join(', ') %></p>
      <p><strong>Hours per Week:</strong> <%= @experience.hours_per_week %></p>
      <p><strong>Minimum Stay Weeks:</strong> <%= @experience.minimum_stay_weeks %></p>
      <p><strong>Sleeping Arrangements:</strong> <%= @experience.sleeping %></p>
      <p><strong>Catering Options:</strong> <%= @experience.catered %></p>
    </div>

    <!-- Skills required -->

    <h1>Skills required</h1>
    <% @experience.skills.each do |skill| %>
      <div class="flex">
        <% if skill.icon_url.present? %>
          <%= image_tag(skill.icon_url, alt: skill.name, class: "pr-2 mb-2 h-6 skill-icon") %>
        <% end %>
        <p><%= skill.name %></p>
      </div>
    <% end %>


    <!-- CTA for New Experience -->
    <div class="mt-4">
      <h3 class="text-xl font-semibold text-gray-900">New Experience</h3>
      <p class="text-gray-700">Check out our latest experience:</p>
      <a href="<%= new_experience_path %>" class="text-blue-600 hover:underline">View New Experience</a>
    </div>

    <!-- Edit and Delete Buttons -->
    <div class="mt-8 flex justify-between">
      <div class="bg-teal-400 text-white font-bold py-4 px-8 rounded-full hover:bg-green-400">
        <%= link_to "Edit", edit_experience_path(@experience), class: "inline-block" %>
      </div>
      <div>
        <%= button_to "Delete", experience_path(@experience), method: :delete, data: { confirm: "Are you sure?" }, class: "inline-block bg-red-600 text-white font-bold py-4 px-8 rounded-full hover:bg-red-800" %>
      </div>
    </div>
  </div>
</body>
